*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif; }

.cta__heading {
  color: #413a3a;
  font-size: 6rem;
  letter-spacing: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1rem; }
  .cta__heading-1 {
    display: block;
    color: #ce9797;
    font-size: 7rem;
    font-weight: 300; }

.cta__text {
  color: #ce9797;
  font-size: 1.6rem;
  line-height: 1.5; }

.hero {
  background-image: url(../images/hero-desktop.jpg);
  background-size: cover;
  grid-column: 5 / 8;
  grid-row: 1 / -1;
  max-width: 100%; }

.logo {
  grid-column: 2 / 3;
  align-self: center; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr); }

body {
  background: rgba(206, 151, 151, 0.2); }

.cta {
  grid-column: 2 / 4;
  grid-row: 3 / 6; }
