*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.hero {
  grid-column: 4 / 7;
  padding: 0; }
  .hero img {
    background-size: cover;
    height: 100%; }
