// Variables
$color-primary-red: hsl(0, 36%, 70%);
$color-primary-red-soft: hsl(0, 93%, 68%);
$color-neutral: hsl(0, 6%, 24%);
$font-primary: 'Josefin Sans', sans-serif;

// Resets
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5%, 1rem = 10px
}

body {
    font-family: $font-primary;
    font-weight: 300;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.header {
    &__logo {

    }

    &__header-1 {

    }

    &__header-2 {

    }

    &__email {
        &--input {
            
        }
    }
}

.hero {
    grid-column: 4 / 7;
    padding: 0;

    img {
        background-size: cover;
        height: 100%;
    }
}