body {
    font-family: $font-primary;
}

// CTA Section
.cta {
    &__heading {
        color: $dark-red;
        font-size: 6rem;
        letter-spacing: 1rem;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 2rem;

        &-1 {
            display: block;
            color: $desaturated-red;
            font-size: 7rem;
            font-weight: 300;
        }
    }

    &__text {
        color: $desaturated-red;
        font-size: 1.5rem;
        font-weight: 400;
        // font-size: $default-font-size;
        line-height: 1.5;
        margin-bottom: 4rem;
    }
}

// Form Section
.form {
    font-family: 'Josefin Sans', sans-serif;

    &__input {
        font-family: inherit;
        font-size: $default-font-size;
        color: $desaturated-red;

        &::placeholder {
			color: rgba($desaturated-red, .5);
			font-family: inherit;
		}
    }

    &__warning {
        color: $soft-red;
		font-size: $default-font-size;
    }
}